.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: grey;
}

.light.red.on {
  background-color: red;
}

.light.yellow.on {
  background-color: yellow;
}

.light.green.on {
  background-color: green;
}
